* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #2d132c;
}

h1 {
  font-weight: 100;
  color: #fff;
  background-color: #801336;
  width: 100%;
  padding: 10px 20px;
}

.container {
  margin: 0 auto;
  max-width: 80%;
<<<<<<< HEAD
  padding-top: 20px;
}

h2 {
  text-align: center;
  color: #c72c41;
}

.form__control {
  background-color: #fff;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
}

.form__control form {
  padding: 20px;
  margin: 0 auto;
  max-width: 70%;
  display: flex;
  justify-content: center;
}

td {
  padding: 15px;
}

select {
  padding: 5px 30px 5px 0;
  outline: none;
}

input[type='checkbox'] + label {
  margin-right: 10px;
}

input[type='text'] {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline-color: rgb(81, 206, 255);
  border: 1px solid #ccc;
}

input[type='text']:focus {
  box-shadow: 0 0 10px 2px rgb(176, 233, 250);
}

textarea {
  padding: 5px;
  border-radius: 5px;
  outline-color: rgb(81, 206, 255);
  border: 1px solid #ccc;
}

textarea:focus {
  box-shadow: 0 0 10px 2px rgb(176, 233, 250);
}

button {
  padding: 10px 30px;
  background-color: #ee4540;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in, color 0.2s ease-in;
  outline: none;
}

button:hover {
  box-shadow: inset 0 0 500px rgb(255, 255, 255);
  color: rgb(206, 30, 30);
}

input[type='radio'] {
  margin-bottom: 10px;
=======
}

.image__container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> 11f630606debdba3867c66093f3c98e0cc992c5d
}
